

<mat-card (click)="navigateToPost()" style="cursor: pointer;">
  <mat-card-header>

    <div class="user-avatar flex align-items-center justify-content-center">
      {{ post.username[0]  }}
    </div>
    <div class="header-content">
      <mat-card-title>{{ post.description }}</mat-card-title>
      <mat-card-subtitle class="post-meta">
        <span class="username">{{ post.username }}</span>
        <span class="dot-separator">•</span>
        <span class="timestamp">{{ post.createdAt | date : "MMM d, y" }}</span>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
</mat-card>
