<div class="register-container">
  <p-card styleClass="register-card">
    <div class="register-form">
      <h2>Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-content">
        <div class="form-field">
          <label for="username">Username</label>
          <p-inputGroup>
            <input id="username" type="text" pInputText formControlName="username" />
          </p-inputGroup>
          <div class="error-container">
            @if (isUsernameInValid) {
              <small class="error-message">Username is required</small>
            }
          </div>
        </div>

        <div class="form-field">
          <label for="email">Email</label>
          <p-inputGroup>
            <input id="email" type="email" pInputText formControlName="email" />
          </p-inputGroup>
          <div class="error-container">
            @if (isFieldInvalid('email')) {
              <small class="error-message">{{ emailErrorMessage }}</small>
            }
          </div>
        </div>

        <div class="form-field">
          <label for="currentCompany">Current Company</label>
          <p-inputGroup>
            <input id="currentCompany" type="text" pInputText formControlName="currentCompany" />
          </p-inputGroup>
          <div class="error-container">
            @if (isCurrentCompanyInValid) {
              <small class="error-message">Current company is required</small>
            }
          </div>
        </div>

        <div formGroupName="passwords" [class.passwords-mismatch]="isPasswordsMatch">
          <div class="form-field">
            <label for="password">Password</label>
            <p-inputGroup>
              <input 
                id="password" 
                [type]="hidePassword ? 'password' : 'text'" 
                pInputText 
                formControlName="password"
              />
            </p-inputGroup>
            <div class="error-container">
              @if (isPasswordInValid) {
                <small class="error-message">Password is required</small>
              } @else if (isPasswordLengthInValid) {
                <small class="error-message">Password length must be 8-64 characters</small>
              }
            </div>
          </div>

          <div class="form-field">
            <label for="confirmPassword">Confirm Password</label>
            <p-inputGroup>
              <input 
                id="confirmPassword" 
                [type]="hideConfirmPassword ? 'password' : 'text'" 
                pInputText 
                formControlName="confirmPassword"
              />
            </p-inputGroup>
            <div class="error-container">
              @if (isConfirmPasswordInValid) {
                <small class="error-message">Password is required</small>
              } @else if (isConfirmPasswordLengthInValid) {
                <small class="error-message">Password length must be 8-64 characters</small>
              } @else if (isPasswordsMatch) {
                <small class="error-message">Passwords do not match</small>
              }
            </div>
          </div>
        </div>

        <button pButton type="submit" label="Register" icon="pi pi-user" iconPos="left" raised="true" rounded="true" [disabled]="registerForm.invalid" class="register-button"></button>

        <div class="register-link">
          Already have an account? <a routerLink="/login">Login here</a>
        </div>
      </form>
    </div>
  </p-card>
</div>
