<p-editor
  [(ngModel)]="value"
  [style]="{ height: '320px' }"
  (onTextChange)="onChange($event.htmlValue)"
  (onSelectionChange)="onTouched()"
  [readonly]="readonly()"
  [ngClass]="{ 'readonly-mode': readonly() }" 
  class="custom-editor"
>
  <ng-template #header>
    @if (!readonly()) {
    <span class="ql-formats">
      <select class="ql-header">
        <option selected>Normal</option>
        <option value="1">Heading 1</option>
        <option value="2">Heading 2</option>
        <option value="3">Heading 3</option>
        <option value="4">Heading 4</option>
      </select>
      <button type="button" class="ql-bold" aria-label="Bold"></button>
      <button type="button" class="ql-italic" aria-label="Italic"></button>
      <button
        type="button"
        class="ql-underline"
        aria-label="Underline"
      ></button>
      <button type="button" class="ql-link" aria-label="Link"></button>
      <button
        type="button"
        class="ql-code-block"
        aria-label="Code Block"
      ></button>
    </span>
    }
  </ng-template>
</p-editor>
