<div class="all-posts-container">
  <div class="content-wrapper">
    <div class="posts-grid">
      @for (post of posts; track post.interviewId) {
        <app-post [post]="post"></app-post>
      }
    </div>

    <div class="paginator-container">
      <p-paginator 
        [rows]="pageSize"
        [totalRecords]="totalPosts"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        (onPageChange)="onPageChange($event)"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      ></p-paginator>
    </div>
  </div>
</div>
