<div class="posts-container">
  @if (posts && posts.length) {
    <!-- @for (post of posts; track post?.postId) { -->
    <div class="card">
      <p-table [value]="posts" [tableStyle]="{ 'min-width': '40rem' }">
        <ng-template #header>
            <tr>
                <th>Avatar</th>
                <th>Title</th>
                <th>Username</th>
                <th>Role</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-post>
         <app-post [post]="post"></app-post>

      </ng-template>
    </p-table>
    </div>

    <!-- } -->
  } @else {
    <div class="empty-state mat-elevation-z2">
      <div class="empty-state-icon">
        <i class="fas fa-newspaper fa-3x"></i>
      </div>
      <h3 class="empty-state-title">No Posts Yet</h3>
      <p class="empty-state-message">Looks like there aren't any posts to display at the moment.</p>
    </div>
  }
</div>
