<div class="posts-container">
  @if (loading) {
    @for (item of [1,2,3]; track $index) {
      <app-post [loading]="true"></app-post>
    }
  } @else if (posts && posts.length) {
    @for (post of posts; track post?.interviewId) {
      <app-post [post]="post" [loading]="false"></app-post>
    }
  } @else {
    <div class="empty-state mat-elevation-z2">
      <div class="empty-state-icon">
        <i class="fas fa-newspaper fa-3x"></i>
      </div>
      <h3 class="empty-state-title">No Posts Yet</h3>
      <p class="empty-state-message">Looks like there aren't any posts to display at the moment.</p>
    </div>
  }
</div>
