<div class="login-container">
  <p-card>
    <div class="login-form">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-content">
        <div class="form-field">
          <label for="username">Username</label>
          <p-inputGroup>
            <input id="username" type="text" pInputText formControlName="username" />
          </p-inputGroup>
          <div class="error-container">
            @if (isUsernameValid) {
              <small class="error-message">Username is required</small>
            }
          </div>
        </div>

        <div class="form-field">
          <label for="password">Password</label>
          <p-inputGroup>
            <input id="password" [type]="hidePassword ? 'password' : 'text'" pInputText formControlName="password" />
          </p-inputGroup>
          <div class="error-container">
            @if (isPasswordValid) {
              <small class="error-message">Password is required</small>
            }
          </div>
        </div>

        <button pButton type="submit" label="Login" icon="pi pi-user" iconPos="left" raised="true" rounded="true" [disabled]="loginForm.invalid" class="login-button"></button>

        <div class="register-link">
          Don't have an account? <a routerLink="/register">Register here</a>
        </div>
      </form>
    </div>
  </p-card>
</div>